# Dependencias
node_modules/
.env

# Archivos de documentación y configuración local
AGENTS.md
context/database.sql

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db